/* Helper classes to replace inline styles */

.section-min-height {
    min-height: 85vh;
}

.filter-hidden {
    display: none;
}

.product-not-found {
    min-height: 50vh;
    text-align: center;
    margin: 50px;
    display: none;
}

.product-not-found h1 {
    color: red;
    margin-bottom: 10px;
}

.product-not-found a {
    text-decoration: underline;
}

.banner-img {
    width: 100%;
}

.ship-hidden {
    display: none;
}

.text-gray {
    color: gray;
}

.section-title {
    font-size: 22px;
    color: gray;
}

/* Admin table styles */
.table-header-col-5 { width: 5%; }
.table-header-col-7 { width: 7%; }
.table-header-col-10 { width: 10%; }
.table-header-col-13 { width: 13%; }
.table-header-col-15 { width: 15%; }
.table-header-col-20 { width: 20%; }
.table-header-col-40 { width: 40%; }

/* Tintuc styles */
.tintuc-info-last {
    border-bottom: 0;
}

.tintuc-img {
    height: 148px;
    width: 224px;
}
